.film-item {
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.film-card{
  margin: 20px 0 20px 0;
}
.image-container {
  position: relative;
  padding-top: 100%; /* 1:1 aspect ratio (square) */
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.film-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  text-align: center;
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ 
  width: 60%;
  height: 60%;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

button{
  margin: 20px;
  border-radius: 10px;
}

.mr-2{
  background-color: #333;
  color: #fff;
}

.mr-2:hover{
  background-color: grey;
}
a:hover{
  background-color: grey;
  color: #fff;
}
a{
  text-decoration: none;
  color: white;
}
