.navbar .btn-outline-light {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px;
  }
.navbar{
    padding-left: 40px ;
    padding-right: 40px ;
}
  

