@import './scss/card';
@import './scss/mixins';
@import './scss/variables';

#root{
  width: 100%;
}

.container{
  width: 70%;
  margin: auto;
 justify-content: center;
}
body {
  font-family: $fonts; /* variable usage */
  background-color: $primary-color;
  padding: $spacing;
  min-height: 100vh;
  @include flex-center();
}


.modal-show {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }

.profile-picture {
  height: 300px;
  width: 300px;
  border: 5px solid  $primary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error{
  color: red;
}
